@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Exo+2:300,400,700);

body {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Leontina; /* Имя шрифта */
    src: url(fonts/copperplate.ttf); /* Путь к файлу со шрифтом */
}
.col-md-3 {
    top: 15px;
    padding-top: 15px;
    width: 100%;
}

.nav {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;
    overflow: hidden;
}

.nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.navigation {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
}

.navigation li {
    list-style-type: none;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.navbar input {
    display: flow;
    float: right;
}

.navbar button {
    display: inline-block;
    float: right;
}

.brand{
    position: relative;
    display: flex;
    left: 20px;
    align-items: center;
    text-align: center;
    border-right: 1px solid #7B7B7B;
    padding-right: 20px;

}
.brand a{
    display: flex;
    align-items: center;

}
.brand img{
    margin-right: 10px;
}
.nav-black{
    display: flex;
    background-color: #333333;
    color: white;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.nav-black a{
    text-decoration: none;
    color: white;
}
.nav-black a:hover{
    color: #7B7B7B;
}
.nav-black a:focus{
    color: #7B7B7B;
}
.nav-item__button-block{
   position: relative;
    display: flex;
    align-items: center;
}
/*burger_button*/
@media (min-width: 1024px){
    .nav-item__burger {
        border: 1px solid rgba(255,255,255,.4);
        border-radius: 8px;
        padding: 21px 9px;
        margin-left: 20px;
        background: 0 0;

    }

}
.nav-item_burger-line{
    width: 28px;
    height: 4px;
    position: relative;
    display: block;
    background: #fff;
    border-radius: 4px;
}
.nav-item_burger-line::before{
    top: -10px;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    display: block;
    background: #fff;
    border-radius: 4px;
}
.nav-item_burger-line::after{
    bottom: -10px;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    display: block;
    background: #fff;
    border-radius: 4px;
}
/*search-input*/
.search-block{
    position: relative;
    flex-grow: 1;
    margin: 0 52px 0 40px;
}
.search-block__input {
    font-size: 18px;
    line-height: 24px;
    transition: background .3s ease 0s;
    color: rgba(255,255,255,.5);
    width: 100%;
    padding: 16px 120px 16px 44px;
    margin: 0;
    border-radius: 56px;
    border-color: #7B7B7B;
    border-style: none;
    background: rgba(255,255,255,.2);
    cursor: pointer;
    appearance: none;
}
.search-block__input::placeholder {
    color: rgba(255,255,255,.5);
}

.search-block__button{
    position: absolute;
    top: 16px;
    left: 16px;
    background-image: url(img/search-icon-w.svg);
    display: block;
    width: 24px;
    height: 24px;
    opacity: .5;
    font-size: 0;
    line-height: 1;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 center;
    border: none;
    padding: 0;
    cursor: pointer;
    /*position: relative;*/
    -webkit-transition: opacity .3s ease 0s;
    transition: opacity .3s ease 0s;
}
/*icon-menu*/
.nav-input {
    position: relative;
    align-items: center;
    right: 20px;
    display: flex;
    float: right;
}
.icon-menu__out-btn{
    background-image: url(img/log-out.svg);
    background-size: contain;
    display: block;
    width: 32px;
    height: 32px;
    opacity: .5;
    font-size: 0;
    line-height: 1;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 center;
    border: none;
    padding: 0;
    cursor: pointer;
}
.inline{
    display: inline-flex;
    position: relative;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.bg-dark-green {
    background-color: #484848;
}

.bg-dark-green a {
    color: white;
}

.bg-dark-green a:hover {
    color: #d1a1a1;
}

.brand {
    color: white;
    font-family: Leontina, serif;
    font-size: 2rem;
}
/*nav-black*/
.nav-cart{
    position: relative;
    display: flex;
    height: 100%;
    margin-right: 50px;
}
.nav-item__cart-link{


}
.row-cols {
    display: flex;
    flex-wrap: wrap;
    /*margin-top: 10px;*/
    margin-right: 30px;
    margin-left: 30px;
}
.product-grid {
    font-family: Raleway, sans-serif;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0 0 82px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    z-index: 1
}

.product-grid .product-image {
    position: relative;
    transition: all .3s ease 0s
}

.product-grid .product-image a {
    display: block
}

.product-grid .product-image img {
    width: 100%;
    height: auto
}

.product-grid .pic-1 {
    opacity: 1;
    transition: all .3s ease-out 0s
}

.product-grid:hover .pic-1 {
    opacity: 1
}

.product-grid .pic-2 {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease-out 0s
}

.product-grid:hover .pic-2 {
    opacity: 1
}

.product-grid .social {
    width: 150px;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 1;
    transition: all .3s ease 0s
}

.product-grid:hover .social {
    opacity: 1;
    top: 50%
}

.product-grid .social li {
    display: inline-block
}

.product-grid .social li a {
    color: #fff;
    background-color: #333;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    width: 40px;
    margin: 0 2px;
    display: block;
    position: relative;
    transition: all .3s ease-in-out
}

.product-grid .social li a:hover {
    color: #fff;
    background-color: #ef5777
}

.product-grid .social li a:after, .product-grid .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 1px 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.product-grid .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -20px;
    z-index: -1
}

.product-grid .social li a:hover:after, .product-grid .social li a:hover:before {
    opacity: 1
}

.product-grid .product-discount-label, .product-grid .product-new-label {
    color: #fff;
    background-color: #ef5777;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 7px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0
}

.product-grid .product-discount-label {
    background-color: #333;
    left: auto;
    right: 0
}

.product-grid .rating {
    color: #FFD200;
    font-size: 12px;
    padding: 12px 0 0;
    margin-bottom: 5px;
    list-style: none;
    position: relative;
    z-index: -1
}

.product-grid .rating li.disable {
    color: rgba(0, 0, 0, .2)
}

.product-content {
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -27px;
    z-index: 1;
    transition: all .3s
}

.product-grid:hover .product-content {
    bottom: 0
}

.product-grid .title {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all .3s ease 0s
}

.product-grid .title a {
    color: #828282
}

.product-grid .title a:hover, .product-grid:hover .title a {
    color: #ef5777
}

.product-grid .price {
    color: #333;
    font-size: 17px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: .6px;
    margin-bottom: 10px;
    text-align: center;
    transition: all .3s
}

.product-grid .price span {
    color: #999;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 3px;
    display: inline-block
}

.product-grid .add-to-cart {
    color: #000;
    font-size: 13px;
    font-weight: 600
}

@media only screen and (max-width: 990px) {
    .product-grid {
        margin-bottom: 30px
    }
}


.navbar-icon-top .navbar-nav .nav-link > .fas {
    position: relative;
    width: 36px;
    font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fas > .badge {
    font-size: 0.75rem;
    position: absolute;
    right: 0;
    font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fas {
    top: 3px;
    line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fas > .badge {
    top: -10px;
}

/*Для карточки пользователя*/

.card {
    position: relative;
    /*top: 15px;*/
    left: 30px;
    width: 315px; /* Remove for full width */
    height: 450px; /* Remove for full width */
    box-shadow: 0 0 100px rgba(0, 0, 0, .3);
}

.card-header {
    position: relative;
    height: 220px;
    background-size: cover;
    background-position: top;
}

.card-header-bar {
    top: 0;
    width: 100%;
    z-index: 1;
    width: 100%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    border: none;
    overflow: hidden;
}

.btn-message {
    display: inline-block;
    background: url(https://res.cloudinary.com/dj14cmwoz/image/upload/v1491077483/profile-card/images/message.svg) no-repeat;
    width: 19.37px;
    height: 16.99px;
    margin-right: 10px;
    margin-top: 10px;
    float: right;
}

.btn-menu {
    display: inline-block;
    background: url(https://res.cloudinary.com/dj14cmwoz/image/upload/v1491077483/profile-card/images/menu.svg) no-repeat;
    width: 19px;
    height: 12.16px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

svg .polygon {
    fill: #fff;
}

.card-header-slanted-edge {
    position: absolute;
    bottom: -3px;
    z-index: 1;
    width: 100%;
    right: 0;
    left: 0;
}

.btn-orders {
    position: absolute;
    right: 50px;
    width: 45px;
    height: 45px;
    background: linear-gradient(to left, #2D77C1, #68FAC2);
    border-radius: 100%;
    box-shadow: 0 10px 15px rgba(110, 221, 235, .53);
}

.fa-jedi-order:before {
    content: '';
    position: absolute;
    font-size: 20px;
    width: 17px;
    height: 17px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

a[class = btn-orders] {
    color: white;
}

.btn-profile {
    position: absolute;
    left: 50px;
    width: 45px;
    height: 45px;
    background: linear-gradient(to left, #2D77C1, #c968fa);
    border-radius: 100%;
    box-shadow: 0 10px 15px rgba(208, 110, 235, 0.53);
}

.fa-user:before {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

a[class = btn-profile] {
    color: white;
}

.btn-messages {
    position: absolute;
    left: 135px;
    width: 45px;
    height: 45px;
    background: linear-gradient(to left, #4149df, #ff7474);
    border-radius: 100%;
    box-shadow: 0 10px 15px rgba(235, 110, 110, 0.53);
}

.fa-message:before {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-body {
    text-align: center;
    padding-left: 10px;
}

a[class = btn-messages] {
    color: white;
}

.name {
    font-size: 20px;
    font-weight: 700;
    margin: 0 auto;
}

.job-title {
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    color: #919191;
}

.bio {
    font-size: 14px;
    color: #7B7B7B;
    font-weight: 300;
    margin: 10px auto;
    line-height: 20px;
}

.social-accounts img {
    width: 15px;
}


.card-footer {
    /*position:fixed; /* Full card width/height */
    position: absolute; /* Fixed card width/height */

    left: 0;
    width: 100%;
    bottom: 20px;
}

.btn-sm {
    background: linear-gradient(to left, #2D77C1, #68FAC2);
    box-shadow: 0 10px 15px rgba(110, 221, 235, .53);
}

/*catalog*/
.catalog{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
